

.collection-tree-collection-item-class {
  /* border: 1px solid red; */
  height: 65px;
  display: flex !important;
  align-items: center !important;
  border-top: 1px solid lightgrey;
  line-height: unset !important;
  padding-left: 6px !important;
}

.collection-tree-collection-item-class:last-child {
  border-bottom: 1px solid lightgrey
}

.collection-tree-collection-item-class .rc-tree-node-content-wrapper {
  width: 100%;
  height: 100% !important;
}

 .rc-tree-title {
  width: 100%;
  /* height: 100% !important; */
}

.rc-tree-switcher {
  background-image: none !important;
}


.collection-item-display {
  visibility: hidden;
  opacity: 0;
}
.collection-tree-collection-item-class:hover .collection-item-display {
  visibility: visible;
  opacity: 1;
}


.collection-row-class {
  /* margin-left: 0px !important; */
}

.folder-item-display {
  visibility: hidden;
  opacity: 0;
}

.collection-tree-folder-item-class:hover .folder-item-display {
  visibility: visible;
  opacity: 1;
}

.collection-tree-request-item-class:hover .folder-item-display {
  visibility: visible;
  opacity: 1;
}

.collection-tree-request-item-class .rc-tree-node-content-wrapper {
  width: calc(100% - 16px);
  height: 100% !important;
}

.collection-rc-tree-item-title-empty {

  padding: 8px 16px;
  
}
.rc-tree-treenode-empty {
  white-space: unset !important;
  display: flex !important;
}

.rc-tree-treenode-empty .rc-tree-node-content-wrapper {
  height: 100% !important;
  /* margin: 0px 0px 8px 16px !important; */
  cursor: unset !important;
}

.collection-tree-collection-item-class:hover {
  background-color: #f5f5f5;
}

.collection-tree-collection-item-class .rc-tree-node-selected {
  background-color: unset;  
  box-shadow: unset;
}
.collection-tree-collection-item-class.rc-tree-treenode-selected {
  background-color: #ECECEC;  
  /* box-shadow: 0px 2px 5px #ECECEC; */
  /* box-shadow: 0 0 0 1px #ffb951; */
}

.collection-tree-collection-item-class.rc-tree-treenode-switcher-open {
  /* background-color: #ECECEC;   */
  box-shadow: 0px 2px 5px #ECECEC;
  /* box-shadow: 0 0 0 1px #ffb951; */
}


.collection-tree-request-item-class .rc-tree-node-selected {
  background-color: #ECECEC !important;  
  box-shadow: unset;
}

.collection-tree-request-item-class .rc-tree-node-content-wrapper:hover {
  background-color: #f5f5f5;
}

.collection-item-rate-class {
  padding: 0px !important;
}


.collection-tree-folder-item-class {
  /* border: 1px solid red; */
  /* height: 65px; */
  display: flex !important;
  align-items: center !important;
  /* border-top: 1px solid lightgrey; */
  line-height: unset !important;
  white-space: unset !important
}

.collection-tree-folder-item-class .rc-tree-node-content-wrapper {
  width: 100%;
  height: 100% !important;
  /* padding-left: 4px !important; */
}

.collection-tree-folder-item-class:hover .rc-tree-node-content-wrapper {
  background-color: #f5f5f5;
}


.collection-tree-folder-item-class:hover .rc-tree-switcher {
  background-color: #f5f5f5 !important;  

}

.collection-tree-folder-item-class .rc-tree-node-selected {
  background-color: #ECECEC !important;  
  box-shadow: unset;
}

.collection-tree-folder-item-class.rc-tree-treenode-selected .rc-tree-switcher_open {
  background-color: #ECECEC !important;  
}

.collection-star-normal {
  display: inline-block;
}
.collection-star-hover {
  display: none
}

.collection-star-normal:hover {
  display: none;
}
.collection-star-normal:hover + .collection-star-hover {
  display: inline-block !important;
}

.collection-tree-collection-item-class {
  white-space: unset !important
}

.collection-tree-request-item-class {
  white-space: unset !important;
  /* height: 32px !important */
  display: flex !important;
  justify-content: flex-end !important;
}


.collection-tree-folder-item-class .rc-tree-switcher {
  /* border : 1px solid red !important; */
  height : 32px !important;
  margin-right: 0px !important;
  display: flex !important;
  align-items: center !important;
  width : 24px !important;
  justify-content: center !important;
}


.collection-rc-tree .__react-ellipsis {
  padding: 1px;
}