.vertical-center {
  display: flex;
  align-items: center;
}

.flex-direction-column {
  display: flex;
  flex-direction: column;
}

.vertical-end {
  display: flex;
  align-items: flex-end;
}

.vertical-start {
  display: flex;
  align-items: flex-start;
}

.horizontal-center {
  display: flex;
  justify-content: center
}

.display-fliex {
  display: flex;
}

.display-none {
  display: none;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.justify-content-space-between {
  display: flex !important;
  justify-content: space-between !important;
}

.justify-content-space-between-inline {
  display: inline-flex !important;
  justify-content: space-between !important;
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end
}

.full-width {
  width: 100%;
}

.postman-button-class {
  background-color: rgba(206, 206, 206, 0.411);
}

.postman-main-background-color {
  background-color: #F26b3a;
  color: white
}

.postman-button-class:hover {
  background-color: lightgray
}

.border {
  border: 1px solid red;
}

.ant-divider-horizontal {
  margin: 8px 0 !important;
}

.postman-main-color {
  color: #F26b3a
}

.text-align-center-class {
  text-align: center;
}

.padding-10-class {
  padding: 10px
}

.margin-10-class {
  margin: 10px
}

.light-gray-clas {
  color: lightgray
}

.remove-table-border .ant-table-tbody > tr:last-child > td{
  border-bottom: none !important;
}

.antd-main-color {
  color: #40a9ff
}

.antd-main-backgroud-color {
  background-color: #40a9ff
}
.antd-main-border-color {
  border: 1px solid #40a9ff !important
}


.common-tabs-class .ant-tabs-tab {
  padding: 12px 24px;
}

.common-tabs-class .ant-tabs-tab + .ant-tabs-tab {
  margin: 0px;
}

.hover-cursor-pointer {
  cursor: pointer;
}

.text-over-ellipsis {
  overflow: hidden !important;
  text-overflow:ellipsis;
  /* white-space: nowrap; */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
