.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center
}

.display-fliex {
  display: flex;
}

.display-none {
  display: none;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end
}

.full-width {
  width: 100%;
}

.postman-button-class {
  background-color: rgba(206, 206, 206, 0.411);
}

.postman-button-class:hover {
  background-color: lightgray
}

.border {
  border: 1px solid red;
}

.ant-divider-horizontal {
  margin: 8px 0 !important;
}

.postman-main-color {
  color: #F26b3a
}

.text-align-center-class {
  text-align: center;
}

.padding-10-class {
  padding: 10px
}

.margin-10-class {
  margin: 10px
}

.light-gray-clas {
  color: lightgray
}

.remove-table-border .ant-table-tbody > tr:last-child > td{
  border-bottom: none !important;
}



.common-tabs-class .ant-tabs-tab {
  padding: 12px 24px;
}

.common-tabs-class .ant-tabs-tab + .ant-tabs-tab {
  margin: 0px;
}

