.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center
}

.display-fliex {
  display: flex;
}

.display-none {
  display: none;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end
}

.full-width {
  width: 100%;
}

.postman-button-class {
  background-color: rgba(206, 206, 206, 0.411);
}

.postman-button-class:hover {
  background-color: lightgray
}

.border {
  border: 1px solid red;
}