
  /*
 [data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
  }  */

  .ant-table .ant-table-thead > tr > th {
    font-size: 12px !important;
    padding: 0px 0px 0px 5px !important;
    height: 30px !important;
}
.ant-table .ant-table-tbody > tr > td {
  font-size: 14px;
  padding: 3px 0px !important;
  box-sizing: border-box !important;
}

.common-editable-table .cell-textarea {
  /* position: absolute; */
  border: none;
  width: 100%;
  line-height: 20px;
  height: 20px;
  flex-shrink: 3
}

.cell-textarea:focus {
  outline: lightgray solid 1px;
}

/* .ant-input:focus {
  box-shadow: none;
} */



.row-dragging {
  /* background: #fafafa; */
  border: 1px solid #ccc;
  z-index: 9999;
}

.row-dragging td {
  /* padding: 2px 6px !important; */
  padding:3px 4px;
  /* border: 1px solid red; */
  margin: 0px !important
}

.row-dragging .drag-visible {
  visibility: visibility;
}

.ant-table-body {
  /* overflow-y: auto !important; */
  /* max-width: 751px; */
}

tr.ant-table-measure-row{
   /* display: none; */
  visibility: collapse;
}

.key-value-edit-table .ant-table-tbody {
  display: none
}

.key-value-edit-table .ant-table-thead .ant-table-cell {
  border-bottom: none;
}

.key-value-edit-textarea {
  border: 1px solid #f0f0f0;
  border-bottom: 1px solid white;
}
textarea.key-value-edit-textarea::placeholder {
  font-size: 14px;
  font-weight: 1200;
  color: gray
}

.request-body-formdata-table-select .ant-select-selector {
  height: 22px !important;
}

/* .common-editable-table .ant-table-cell {
  position: relative;
} */