
.open-new-button > .anticon + span, .open-new-button > span + .anticon {
  margin-left: 1px;
}

.new-button-modal-class {
  min-width: 800px;
  width: 80% !important;
}

.new-modal-tabs .ant-tabs-content-holder {
  padding: 0px 20px;
}


.toggle-wrapper {
  margin: 0.5em auto;
}

.toggle-wrapper label {
  padding: 0.3em;
  font-size: 17px;
  display: block;
}

.toggleContainer {
  width: 500px;
  position: relative;
  /* background: #ffffff; */
  border: 1px solid var(--common-border-color, #ECECEC);
}

.toggleContainer .toggleOption {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 40px;
  line-height: 40px;
  /* padding: 10px 0px; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: gray;
  font-size: 1em;
  background-color: var(--common-border-color, #ECECEC);

}

.toggleContainer .toggleOption.selected {
  color: var(--primary-color, #1890ff);
  cursor: initial;
  background-color: var(--background-color, white)
}

.toggleContainer .toggle {
  position: absolute;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  background: lightgray;
}

.optionDisabled {
  background: #e6e6e6;
  cursor: no-drop !important;
}