.request-send-setting-tab .ant-tabs-nav {
  margin: 0;
  border-top: 1px solid var(--common-border-color, #f0f0f0);
}

.request-send-setting-tab > .ant-tabs-nav .ant-tabs-tab {
  padding: 8px 16px;
  margin: 0px
}

.request-header-form .ant-form-item {
  margin-bottom: 12px;
}

.request-header-setting-collapse .ant-collapse-content-box {
  padding: 0px !important
}

.request-header-setting-collapse .ant-collapse-item {
  border: none
}
.request-setting-tab-param-panel .ant-table-tbody > tr:last-child > td{
  border-bottom: none !important;
}

.request-setting-tab-param-panel .ant-table.ant-table-bordered > .ant-table-title {
  border: none;
}