.request-body-checkbox {
  padding: 10px 20px
}

/* .request-body-checkbox .ant-radio-inner {
  height: 14px;
  width: 14px;
}

.request-body-checkbox .ant-radio-inner::after {
  height: 6px;
  width: 6px;
} */

.request-body-raw-type-select .ant-select-selection-item {
  color: #1890ff;
}