
.react-resizable {
    position: relative;
  }
  .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-position: bottom right;
    padding: 0 3px 3px 0;
    bottom: 0;
    right: 0;
    cursor: col-resize;
  }
  