.ant-tree-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-tree-node-content-wrapper {
  width: 100%;
  padding: 0px !important;
}

.ant-tree .ant-tree-treenode {
  padding: 0; 
}

.collection-item-display {
  visibility: hidden;
  opacity: 0;
}
.ant-tree .ant-tree-treenode:hover .collection-item-display {
  visibility: visible;
  opacity: 1;
}
.ant-tree .ant-tree-treenode-switcher-close {
  
  border-top: 1px solid lightgrey;
  
}

.ant-tree-treenode-switcher-open {
  
  border-top: 1px solid lightgrey;
  
}

/* .ant-rate-star-focused {
  border: none;
  outline: none;
  box-shadow: none;
} */

.ant-rate-star-first, .ant-rate-star-second {
  color: lightgrey;
}

.collection-tree-item-title-empty {
  /* border: 1px solid blue; */
  padding: 8px 0px;
  margin-left: 12px;
}
.ant-tree-switcher-noop {
  width: 8px;
}
.ant-tree-treenode-empty .ant-tree-switcher-noop {
  display: none !important;
}

.ant-tree-treenode-empty .ant-tree-node-content-wrapper {
  cursor: text;
}

.ant-tree-indent-unit {
  width: 16px
}

/* .ant-tree-treenode-empty .ant-tree-indent-unit {
  width: 24px !important
} */

.collection-item-action-split {
  /* border: 1px solid red; */
  margin: 0px !important;
}

.folder-item-display {
  visibility: hidden;
  opacity: 0;
}
.ant-tree .ant-tree-treenode:hover .folder-item-display {
  visibility: visible;
  opacity: 1;
}

.ant-tree-node-content-wrapper .__react-ellipsis {
  padding: 1px;
}

.collection-tree-folder-item-class {
  border-top: none !important;
}

.collection-tree-collection-item-class.ant-tree-treenode-switcher-open {

  /* 0px 阴影向右偏移量，为0

10px 阴影向下偏移量，为10px

5px 阴影的过渡距离，为5px

#000阴影颜色，为黑色 */

  box-shadow: 0px 2px 5px #bbb4b4;
}

.collection-tree .collection-tree-collection-item-class:last-child {
  border-bottom: 1px solid lightgrey
}