.workspace-card-list {
  width: 350px
}

.workspace-card-list .workspace-card-list-item {
  cursor: pointer;
  padding: 6px;
  
}

.workspace-card-list .workspace-card-list-item:hover {
  background-color: lightgrey;
}

.workspace-card-tab > .ant-tabs-nav {
  margin-bottom: 10px;
}


.workspace-item-more-action-display {
  /* visibility: hidden;
  opacity: 0; */
  display: none;
  /* height: 20px */
}
.workspace-card-list .workspace-card-list-item:hover .workspace-item-more-action-display {
  /* visibility: visible;
  opacity: 1; */
  display: inline-block;
  /* height: 20px; */
  /* border: 1px solid red */

}

.workspace-card-list .workspace-card-list-item {
  border: none;
}